[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
en_core_web_trf = { file = 'https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl' }
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
